[database]
    type = "mysql"
    host = "127.0.0.1"
    port = "3306"
    user = "default"
    pass = "secret"

[backup]
    storage = "./storage"
    dumpbin = ""
    [backup.upyun]
        bucket = ""
        operator = ""
        password = ""
        folder = ""
        keepDays = 14
